<h1>FAQ</h1>
<h3>What's the purpose of this site?</h3>
<p>Dota Inventory is intended as a central resource for cosmetic items in Dota 2. The main idea behind this site is to allow you to find items that you like, share them with your friends and make it easier to find others who own the item in order to possibly initiate a trade.</p>

<h3>How accurate is a user's inventory data?</h3>
<p>A user's inventory is updated <em>at most</em> every 24 hours. However, a user's inventory <em>will not</em> be updated unless it is requested in some way. This prevents pointless updates and resource costs on the server.</p>

<h3>Can I save items as favourites?</h3>
<p>Yes. Adding an item to your favourites will mean that you will be alerted when someone on your friend's list acquires this item. <em>Note: you must check back here to find out.</em>

<h3>What does my watch list do?</h3>
<p>Your watch list will (not yet implemented) allow you to save users (not necessarily friends) to a list that will let you know when they acquire new items.
    In particular, you will be alerted to when users on your watch list find items on your favourites list.</p>

<h3>Can I find users not on my friend's list that own an item I want?</h3>
<p>Not yet. This will definitely be implemented in the future but it may be a premium feature.</p>

<h3>Can I trade with people through this site?</h3>
<p>You can post a trade for an item if you own it. Users including yourself can then search for other items that other people are looking to trade.</p>

<h3>Can I use this site for TF2 items as well?</h3>
<p>No. There's a low possibility that a site like this for TF2 will be made in the future.</p>