<div id="front-container">
    <div class="row text-center">
        <div class="col-md-8 col-md-offset-2">
            <img src="img/dota_inventory_logo.png" />
            <h3 style="margin-top:0; margin-bottom:24px; color:#666;">DotA 2 Cosmetic Items Hub</h3>
            <!-- Site search to be implemented. -->
            <div style="display:none;">
                <div class="input-group">
                    <span class="input-group-addon">Site Search:</span>
                    <input ng-model="query" type="text" class="form-control input-lg" id="community-url" placeholder="Enter a hero, rarity, item type, name or Steam Community URL.">

                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg">Go</button>
                    </span>
                </div>
                <div>
                    <p class="search-loading" ng-if="loadingQuery && query.length > 2">Searching...</p>
                    <p class="search-loading" ng-if="loadingQuery && query.length < 3 && query.length > 0">Keep Typing...</p>
                    <ul class="results" ng-hide="loadingQuery">
                        <li ng-if="results.length == 0 && query.length > 2"><span>No results found.</span></li>
                        <li ng-if="query.length < 3 && query.length != 0"><span>Keep typing...</span></li>
                        <li ng-repeat="result in results"><a href="{{result.link}}">{{result.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 text-justify">
            <h1 class='text-center'>Browse</h1>
            <p class=""><strong>DotA 2</strong> has a large and constantly growing collection of cosmetic items. Dota Inventory makes it easy to find cool new items and browse the existing library.</p>
            <p>Is <a href="#/items/hero/meepo">Meepo</a> your favourite hero? Or maybe you want to know which <a class="rarity-text immortal" href="#/items/rarity/immortal">Immortal</a> items are out there? There's plenty of items out there so start browsing now!</p>
            <a href="#/items" class="btn btn-default btn-block">Start Browsing</a>
        </div>
        <div class="col-md-4">
            <h1 class="text-center">Trade</h1>
            <p><strong>Steam Trading</strong> is huge thanks to Steam's real-money marketplace and Dota 2's wide range of cosmetic items.</p>
            <p>Dota Inventory provides basic trading support. Do you want that <a href="#/items/id/4007">Dragonclaw Hook</a>? Visit the item's page and see if anyone's looking to trade it. Alternatively post your own items up for trade.</p>
            <a href="#/trades" class="btn btn-default btn-block">Start Trading</a>
        </div>
        <div class="col-md-4">
            <h1 class="text-center">Merge</h1>
            <p><strong>Dota Inventory</strong> started out as a <a href="http://old.dotainventory.com">basic friendslist item browser</a> which let you combine every item owned by one of your Steam friends into a simple list.</p>
            <p>Expanding on that, Dota Inventory is now a place to view any player's inventory as well as a combined friendslist inventory.</p>
            <a href="#/users" class="btn btn-default btn-block">Start Merging</a>
        </div>
    </div>
    <div id="featured">
        <div class="row text-center" style="margin-top:24px;">
            <div class="col-md-6">
                <h2><img src="img/twitch_icon.png" style="width:30px; margin-right:9px;" />Featured Streamer</h2>
                <p>Our first featured streamer is <a href="http://www.twitch.tv/ldshadowz?tt_medium=live_embed&tt_content=text_link" >ldshadowz</a> from the UK! Be sure to <a href="http://www.twitch.tv/ldshadowz">visit his channel</a> and check him out! His schedule is currently shown in the background of this video.</p>
                <p class="text-right" style="font-weight:bold;">Looking to get featured? <a href="http://steamcommunity.com/id/mchairmaster/" >Add me on Steam!</a></p>
                <hr />
                <div id='front-social' class="text-center" style="margin-top:18px;">
                    <h3>Follow DotaInventory</h3>
                    <p>
                        <a href="http://steamcommunity.com/groups/dotainventory"><img src="img/steam_social.png" /></a>
                        <a href="http://twitter.com/dotainventory"><img src="img/twitter_social.png" /></a>
                        <a href="http://facebook.com/dotainventory"><img src="img/facebook_social.png" /></a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <object type="application/x-shockwave-flash" 
                        height="278" 
                        width="520" 
                        id="live_embed_player_flash" 
                        data="http://www.twitch.tv/widgets/live_embed_player.swf?channel=ldshadowz" 
                        bgcolor="#000000">
                    <param  name="allowFullScreen" 
                            value="true" />
                    <param  name="allowScriptAccess" 
                            value="always" />
                    <param  name="allowNetworking" 
                            value="all" />
                    <param  name="movie" 
                            value="http://www.twitch.tv/widgets/live_embed_player.swf" />
                    <param  name="flashvars" 
                            value="hostname=www.twitch.tv&channel=ldshadowz&auto_play=false&start_volume=50" />
                </object>
            </div>
        </div>

    </div>



</div>