<div id="front-container">
    <div class="row text-center" style="margin-bottom:36px;">
        <div class="col-md-8 col-md-offset-2">
            <img class="img-responsive center-block" src="img/logo_large.png" />
            <h3 style="margin-top:0; margin-bottom:24px; color:#666;">DOTA 2 Cosmetic Items Browser</h3>
            <!-- Site search to be implemented. -->
            <div>
                <div class="input-group">
                    <span class="input-group-addon">Site Search:</span>
                    <input ng-model="query" type="text" class="form-control input-lg" id="community-url" placeholder="Enter a hero, rarity, item type, name or Steam Community URL.">
                    <!--
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-lg"><span class="fa fa-plus-circle"></span> Add</button>
                    </span>
                    -->
                </div>
                <div>
                    <p class="search-loading" ng-if="loadingQuery && query.length > 2">Searching...</p>
                    <p class="search-loading" ng-if="loadingQuery && query.length < 3 && query.length > 0">Keep Typing...</p>
                    <ul class="results" ng-hide="loadingQuery">
                        <li ng-if="results.length == 0 && query.length > 2"><span>No results found.</span></li>
                        <li ng-if="query.length < 3 && query.length != 0"><span>Keep typing...</span></li>
                        <li ng-repeat="result in results"><a href="{{result.link}}">{{result.title}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-left" id="front-rundown">
        <div class="col-md-7 col-md-offset-1">
            <div class="feature">
                <div class="feature-icon"><span class="fa fa-usd"></span></div>
                <div class="feature-description">
                    <strong>Item Prices</strong>
                    <p>View market data pulled fresh from the Steam marketplace.</p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon"><span class="fa fa-suitcase"></span></div>
                <div class="feature-description">
                    <strong>Player Inventories</strong>
                    <p>Access inventories for Steam users and view all friends items at once.</p>
                </div>
            </div>
            <div class="feature">
                <div class="feature-icon"><span class="fa fa-star"></span></div>
                <div class="feature-description">
                    <strong>Personal Wishlist</strong>
                    <p>Add your favourite items to a wishlist for all to see.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <strong>Quick Start - Find Items</strong>
            <a href="items/hero" class="btn btn-block btn-default">View All Heroes</a>
            <a href="items/rarity" class="btn btn-block btn-default">View All Rarities</a>
            <a href="bundles/" class="btn btn-block btn-default"><strong>*New*</strong> View All Bundles</a>
            <a href="items/" class="btn btn-block btn-primary"><strong>Access Full Browser</strong></a>
        </div>
    </div>
    <!--
    <div class="row">
        <h1><span class="fa fa-gift"></span> Daily Giveaway</h1>
    </div>
    -->

    <div class="row" style="margin-top:56px; margin-bottom:40px;">
        <div class="col-md-8">
            <div class="text-center simple-grey-box" style="max-width:640px; margin:0 auto;">
                <h3><span class="fa fa-life-ring"></span> Keep The Site <strong>Alive!</strong></h3>
                <p><em>DotaInventory.com relies on <strong>donations</strong> and <strong>advertisements</strong> to run and improve.</em></p>
                <div class="text-left">
                    <h4>How can You help?</h4>
                    <p>Honestly, a site like this is built out of free-time and enjoyment. That said, a little help goes a long way in providing new features and building a better website.</p>
                    <div class="row">
                        <div class="col-md-5">
                            <ul>
                                <li>Donate <strong>cash</strong>.</li>
                                <li>Donate your <strong>spare items</strong>.</li>
                                <li><strong>Disable ad-block.</strong></li>
                            </ul>
                        </div>
                        <div class="col-md-7 text-center">
                            <p><em>Click the button to donate through PayPal.</em></p>
                            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GPS4VB2GR89HJ" class="btn btn-success btn-block"><strong><span class="fa fa-paypal"></span> Donate With Paypal</strong></a>
                        </div>
                    </div>
                </div>
                <p><a href='support-us/'>Visit our support page to find out more</a> about supporting the site.</p>

                <strong>(Thanks!)</strong> <span class="glyphicon glyphicon-thumbs-up"></span>


            </div>
        </div>
        <div class="col-md-4 text-center">
            
            <div class="text-center advert">
                <div data-my-ad-sense></div>
                <p class="text-center">(Obviously an) Advertisement</p>
            </div>
        </div>
    </div>



</div>