<div id="item-categories">
    <div class="section">
        <h1 class="text-center">Browse Items</h1>
        <p style="font-size:16px;" class="text-center muted">Find Dota 2 items by using the options below.</p>
    </div>
    <div class="section">
        <div class="row ">
            <div class="col-md-6 col-md-offset-3">
                <form ng-submit="goToSearchResults(itemName)">
                    <div class="input-group input-group-lg">
                        <input ng-model="itemName" type="text" class="form-control" id="community-url" placeholder="Search for an item by name." />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='section'>
        <div class="row">
            <div class="col-md-3">
                <h2>Featured Heroes</h2>
                <div><a href="items/hero/pudge"><img src="img/heroes/icons/pudge_icon.png"/> Pudge</a></div>
                <div><a href="items/hero/juggernaut"><img src="img/heroes/icons/juggernaut_icon.png"/> Juggernaut</a></div>
                <div><a href="items/hero/antimage"><img src="img/heroes/icons/antimage_icon.png"/> Anti-Mage</a></div>
                <div><a href="items/hero/furion"><img src="img/heroes/icons/furion_icon.png"/> Nature's Prophet</a></div>
                <div><a href="items/hero/luna"><img src="img/heroes/icons/luna_icon.png"/> Luna</a></div>
            </div>
            <div class="col-md-3" style="font-weight:bolder;">
                <h2>Rarities</h2>
                <div><a class="rarity-text common">Common</a></div>
                <div><a class="rarity-text uncommon">Uncommon</a></div>
                <div><a class="rarity-text rare">Rare</a></div>
                <div><a class="rarity-text mythical">Mythical</a></div>
                <div><a class="rarity-text legendary">Legendary</a></div>
                <div><a class="rarity-text ancient">Ancient</a></div>
                <div><a class="rarity-text immortal">Immortal</a></div>
                <div><a class="rarity-text arcana">Arcana</a></div>
            </div>
            <div class="col-md-3">
                <h2>Top Bundles</h2>
                <em>Nothing To Display</em>
            </div>
            <div class="col-md-3">
                <h2>Popular Categories</h2>
                <div><a href="items/type/courier"> Couriers</a></div>
                <div><a href="items/type/mount"> Mounts</a></div>
                <div><a href="items/type/loading%20screen"> Loading Screens</a></div>
                <div><a href="items/type/taunt"> Taunts</a></div>
                <div><a href="items/type/ward"> Wards</a></div>
                <!--Taunts, couriers, loading, mounts, wards-->
            </div>
        </div> 
        <!-- TODO
        <div class="row">
            <div class="col-md-4">
                <h2>Latest Additions</h2>
            </div>
            <div class="col-md-4">
                <h2>Most Wanted</h2>

            </div>
            <div class="col-md-4">
                <h2>Highest Value</h2>
            </div>
        </div>
        -->
    </div>
    <div class="section text-center">
        <h3>Items by Rarity</h3>
        <p>Select a rarity to view all items belonging to it.</p>
        <div class="text-center">
            <div class="rarity common"><a href="items/rarity/common">COMMON</a><div class="counter">x123</div></div>
            <div class="rarity uncommon"><a href="items/rarity/uncommon" >UNCOMMON</a><div class="counter">x123</div></div>
            <div class="rarity rare"><a href="items/rarity/rare" >RARE</a><div class="counter">x123</div></div>
            <div class="rarity mythical"><a href="items/rarity/mythical" >MYTHICAL</a><div class="counter">x123</div></div>
            <div class="rarity legendary"><a href="items/rarity/legendary" >LEGENDARY</a><div class="counter">x123</div></div>
            <div class="rarity ancient"><a href="items/rarity/ancient" >ANCIENT</a><div class="counter">x123</div></div>
            <div class="rarity immortal"><a href="items/rarity/immortal" >IMMORTAL</a><div class="counter">x123</div></div>
            <div class="rarity arcana"><a href="items/rarity/arcana" >ARCANA</a><div class="counter">x123</div></div>
        </div>
    </div>
    <div class="section text-center">
        <h3>Items by Hero</h3>
        <p>Select a hero to view his/her/its available items.</p>
        <div>
            <ul style="padding:0; line-height:10px;">
                <li ng-repeat='hero in heroes' class='hero'>
                    <a href='items/hero/{{hero.dbName}}'><img ng-src='img/heroes/{{hero.dbName}}_full.png'/><p>{{hero.name}}</p></a>
                </li>
            </ul>
        </div>
    </div>
</div>
