
<div class="text-center section">
    <h1>{{item.item_name}} <small>Dota 2 Item {{item_price}}</small></h1>
</div>

<div ng-show="item.item_class === 'bundle'" class="alert alert-info text-center">
    <h3>Bundle Page Available</h3>
    <p>This item is a bundle. <a href="bundles/{{bundleId}}"><strong>Visit the bundle page</strong></a></p>
</div>

<div class="section">
    <div class="row">
        <div class="col-md-3">
            <img class=" img-responsive main-item-img" ng-src="{{item.image_url}}" />
        </div>
        <div class="col-md-6">
            <div class="row" id="item-hero" ng-hide="noHero">
                <div class="col-md-3">
                    <img class="img-responsive pull-left" ng-src="img/heroes/{{item.hero_db}}_full.png">
                </div>
                <div class="col-md-5"><h3><a href='items/hero/{{item.hero_db}}'>{{item.hero_name}}</a></h3></div>
                <div class="col-md-4 text-center">
                    <div class="item-stat">
                        <p>OWN</p> 
                        <span ng-if='ownsItem' class="glyphicon glyphicon-ok"></span>
                        <span ng-if='!ownsItem' class='glyphicon glyphicon-remove'></span>
                    </div>
                    <div class="item-stat">
                        <p>FAV</p>
                        <span ng-if='inWishList' class="glyphicon glyphicon-ok"></span>
                        <span ng-if='!inWishList' class='glyphicon glyphicon-remove'></span>
                    </div>
                    <div class="item-stat">
                        <p>RNK</p>
                        <span class="">?</span>
                    </div>
                </div>
            </div>
            <div class="row text-center" id="item-classes">
                <div class="col-md-4 rarity {{item.item_rarity}}">
                    <a href="items/rarity/{{item.item_rarity}}">{{item.item_rarity}}</a>
                </div>
                <div class="col-md-4">{{item.item_type_name}}</div>
                <div class="col-md-4"><a ng-if="item.item_set !== 'No Item Set'" ng-href="bundles/{{item.item_set}}">{{item.item_set}}</a></div>
            </div>
            <div class="row" style="min-height: 110px;
                 border: 1px solid #eee;">
                <div class="col-md-12">
                    <p id="item-description" style="min-height:56px;">{{item.item_description}}</p>
                </div>
                <div class="col-md-12 text-right" style="margin-bottom:9px;">
                    <div ng-if="loggedIn">
                        <button ng-if="!inWishList" ng-click="addToWishlist(itemId)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-star"></span> Add to Want List</button>
                        <button ng-if="inWishList" ng-click="removeFromWishlist(itemId)" type="button" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-minus"></span> Remove from Want List</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3 text-center">
            <div id="item-detail-market" class="simple-grey-box">
                <h3>Market Data</h3>
                <div ng-if="marketResultCount === 0">
                    <p style="font-weight:bold; margin:44px 0;">No Data.</p>
                </div>
                <div ng-if="marketResultCount > 0">
                    <p><em>{{marketData.date_fetched}} (GMT)</em></p>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Median</p>
                            <p>$<span class="bignum">{{marketData.median_price}}</span> <span class="glyphicon glyphicon-chevron-up"></span></p>
                        </div>
                        <div class="col-md-6">
                            <p>Lowest</p>
                            <p><p>$<span class="bignum">{{marketData.lowest_price}}</span></p>
                        </div>
                    </div>
                </div>
                <a target="_blank" style="margin-top:4px;" class="btn btn-default btn-block" ng-href="http://steamcommunity.com/market/listings/570/{{item.item_name}}"><span class="glyphicon glyphicon-new-window"></span> Go To Market</a>
            </div>
        </div>
    </div>
</div>
<hr/>
<!--
<div class="section">
    <div class="row">
        <div class="col-md-4">
            <div class="item-friend-owners small-user-list-container">
                <user-list users="friendsOwning" heading="'Friends Who Own This'" subheading="friendsOwning.length + ' friends own this item'"></user-list>
            </div>
        </div>
    </div>
</div>
-->

<p class='text-center'>Advertisement</p>
<div class="text-center advert section"style="margin-top:24px;">
    <div data-my-ad-sense></div>
</div>

