<h1 class="text-center">Item Rarities</h1>

<div class="row text-center" style="font-weight:bolder; font-size:24px;">
    <div class="col-md-3"><a href="items/rarity/common" class="rarity-text common">Common</a></div>
    <div class="col-md-3"><a href="items/rarity/uncommon" class="rarity-text uncommon">Uncommon</a></div>
    <div class="col-md-3"><a href="items/rarity/rare" class="rarity-text rare">Rare</a></div>
    <div class="col-md-3"><a href="items/rarity/mythical" class="rarity-text mythical">Mythical</a></div>
    <div class="col-md-3"><a href="items/rarity/legendary" class="rarity-text legendary">Legendary</a></div>
    <div class="col-md-3"><a href="items/rarity/ancient" class="rarity-text ancient">Ancient</a></div>
    <div class="col-md-3"><a href="items/rarity/immortal" class="rarity-text immortal">Immortal</a></div>
    <div class="col-md-3"><a href="items/rarity/arcana" class="rarity-text arcana">Arcana</a></div>
</div>