<div class="section">
    <div class='text-center'><img id="hero-img" class='' ng-src="img/heroes/{{npcHeroName}}_full.png" ></div>
    <h1 class='text-center' style='text-transform: capitalize;'>{{heroName}}'s Dota 2 Items</h1>
</div>

<div class="section">
    <div item-list items='items'></div>
</div>

<div class="text-center advert section">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- DotaInventory Leaderboard -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-3443832016535803"
         data-ad-slot="5631883183"></ins>
    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
