<h1 class="text-center">Item Rarities</h1>
<div class="row text-center">
    <div class="col-md-3">
        <h2 class="rarity-text common">Common</h2>
    </div>
    <div class="col-md-3">
        <h2 class="rarity-text uncommon">Uncommon</h2>
    </div>
    <div class="col-md-3">
        <h2 class="rarity-text rare">Rare</h2>
    </div>
    <div class="col-md-3">
        <h2 class="rarity-text mythical">Mythical</h2>
    </div>
    
    <div class="col-md-3">
        <h2 class="rarity-text legendary">Legendary</h2>
    </div>
    <div class="col-md-3">
        <h2 class="rarity-text ancient">Ancient</h2>
    </div>
    <div class="col-md-3">
        <h2 class="rarity-text immortal">Immortal</h2>
    </div>
    <div class="col-md-3">
        <h2 class="rarity-text arcana">Arcana</h2>
    </div>
</div>