<div class="section">
    <h1 class="text-center">Support The Site</h1>
    <p class='text-center'><em>Dota 2 wouldn't be the same without supports...</em></p>
    <div class="row">
        <div class="col-md-5">
            <h2 class="text-center">Donate</h2>
            <p>All donations are <strong>immensely</strong> appreciated and help us to keep the site going strong.
                If you can spare <em>anything</em> at all, be that an item or PayPal donation then
                we would be extremely grateful. </p>
            <p>Your donations help us with running costs and can be
                used to keep new features and updates coming. If you choose to donate spare items we 
                will give them back to the site's community through regular giveaways.</p>
            <p>We hope you find the site useful!</p>
            <h2>Thank you!</h2>
            <div class='text-left'>
                <a href="http://steamcommunity.com/id/mchairmaster/" class='btn btn-default'><span class="fa fa-steam"></span> Contribute Items through Steam</a>
                <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=GPS4VB2GR89HJ" class='btn btn-success'><span class="fa fa-paypal"></span> Donate via PayPal</a>
            </div>
        </div>
        <div class="col-md-2">
            <img style="margin-top:54px;" class="img-responsive img-rounded" src="img/crystal_maiden_tall.jpg"/>
            <p class='text-center'><em><a href='http://artgerm.deviantart.com/art/Crystal-Maiden-DotA2-272602902'>Image Source</a></em></p>
        </div>
        <div class="col-md-5">
            <h2 class="text-center">Join The Team</h2>
            <p>We are currently a very small team of developers and designers from around the world who
                are always looking for more support. If you have a spare couple of hours 
                a week and think the project looks interesting, the following roles are currently available:
            </p>
            <p><strong>AngularJS Developer: </strong>This is where the presentation happens. Steam provides a 
            lot of interesting data and we use AngularJS to transform it and bring it all together for the user
            to see. Fancy a fun little side-project?</p>
            <p><strong>PHP Developer: </strong>Our back-end is built with PHP and provides the core data through
            an API that we maintain. The back-end is still very much a work-in-progress with a lot of potential
            improvements to be made.</p>
            <p><strong>Designer: </strong>The site will always need a designer's touch. We want the site to
                look and feel great so get on board and add some flair!</p>
            <div class='text-center'>
                <a href="http://steamcommunity.com/id/mchairmaster/" class="btn btn-default"><span class="fa fa-steam"></span> Add me on Steam</a>
            </div>
        </div>
    </div>
</div>