<div class="section">
    <h1 class="text-center">Trade Items</h1>
    <p class="text-center" style='font-size:16px;'>Trade your Dota 2 items with other users</p>
</div>
<div class="section text-center" style="margin-top:46px;">
    <div style='width:60%; margin:0 auto;'>
        <span class="glyphicon glyphicon-off" style="font-size: 64px;
              color: #F19906;"></span>
        <h2>Trading is on standby.</h2>
        <p>We've decided to keep this page up as a promise for a big release of trading functionality whilst we finish off the rest of the site. 
            If you have suggestions for the development, <a href="http://steamcommunity.com/id/mchairmaster/">add me on Steam!</a></p>
    </div>
</div>