<div class="section">
    <h1 class="text-center">Find a User</h1>
    <p class="text-center" style='font-size:16px;'>View a user's inventory or combine their friendslist to view all items at once. Search below to begin:</p>
</div>

<div class="section clearfix" style='margin-top:30px;'>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-group input-group-lg">
                <input ng-model='communityUrl' type="text" class="form-control" id="community-url" placeholder="Enter a user's Community URL or display name*." />
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click='searchUsers(communityUrl)'>Search</button>
                </span>
            </div>
            <p class='text-muted text-left'>*<em>Display name search only works if the user has been viewed on this site before.</em></p>
        </div>
    </div>



    <div class="text-center" ng-if="searching">
        <p ng-if="searching"><img src='img/ajax_loader_28.gif' /></p>
        <p ng-if='invalid' class="text-center">No matches found.</p>
        <p class='text-center' ng-if='searching'> Querying Steam - Please Wait</p>
    </div>


    <div class="search-user-result" >
        <div ng-class="{visHidden: profileSuccess == false || searching == true }">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-container">
                        <img class="user-avatar" src="img/user_default.jpg" ng-src="{{user.avatar_medium_url}}" /><span class="user-name">{{user.personaname}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a ng-href='#/users/{{user.steamid}}' class="btn btn-default btn-block">View User Inventory</a>
                </div>
                <div class="col-md-6">
                    <a ng-href='#/users/{{user.steamid}}/friendslist' class="btn btn-default btn-block">Merge Friends Inventories</a>
                </div>
            </div>
        </div>
    </div>

</div>
<hr/>

<div class="section text-center text-muted ng-scope">
    <h3>Recently Viewed</h3>
    <p>Coming Soon...</p>
</div>

<div class="section">
    <h3>Recently Updated Users</h3>
    <div class="list-group">
        <a ng-repeat="friend in friends" href="#/users/{{friend.steamid}}" class="list-group-item clearfix">
            <img class="pull-left" ng-src="{{friend.avatar_medium_url}}">
            <h4 class="media-heading">{{friend.personaname}}</h4>
        </a>
    </div>
</div>

