<div class="section">
    <h1 class="text-center">Find a User</h1>
    <p class="text-center" style='font-size:16px;'>View a user's inventory or combine their friendslist to view all items at once. Search below to begin:</p>
</div>

<div class="section clearfix" style='margin-top:30px;'>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form ng-submit="searchUsers(communityUrl)">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span popover="" ng-if="!searching" class="glyphicon glyphicon-question-sign"></span>
                        <span ng-if="searching"><img src='img/ajax_loader_28_2.gif' /></span>
                    </span>
                    <input ng-disabled="searching" ng-model='communityUrl' type="text" class="form-control" id="community-url" placeholder="Enter a user's Community URL or Steamid." />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click='searchUsers(communityUrl)'>Search</button>
                    </span>
                </div>
                <p class='text-muted text-left'>Help: <a href="faq">What is a Community URL / Steamid?</a></p>
            </form>
        </div>
    </div>

    <div class="search-user-result" >
        <div ng-if='invalid' class='text-center alert-warning'>
            {{invalidReason}}
        </div>
        <div ng-if="searching" class="alert-info text-center">
            Querying Server - Please Wait
        </div>
        <div ng-if="profileSuccess" class="alert-success text-center">
            Profile loaded successfully!
        </div>
        <div ng-class="{visHidden: profileSuccess == false || searching == true }">
            <div class="row">
                <div class="col-md-12">
                    <div class="user-container">
                        <img class="user-avatar" src="img/user_default.jpg" ng-src="{{user.avatar_medium_url}}" /><span class="user-name">{{user.personaname}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a ng-href='users/{{user.steamid}}' class="btn btn-default btn-block">View User Inventory</a>
                </div>
                <div class="col-md-6">
                    <a ng-href='users/{{user.steamid}}/friendslist' class="btn btn-default btn-block">Merge Friends Inventories</a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="section text-center">
    <p><strong>Example Inventory (Me):</strong> <a href="users/76561197991834541">DotaInventory.com (View My Inventory)</a></p>
    <p><strong>Example Friends Merging (Me):</strong> <a href="users/76561197991834541/friendslist">DotaInventory.com (View My Friends' Items)</a></p>
    <p><strong>Example Wishlist (Me):</strong> <a href="users/76561197991834541/wishlist">DotaInventory.com (View My Wishlist)</a></p>
</div>

<div class="text-center advert">
    <p>Advertisement</p>
    <div data-my-ad-sense></div>
</div>

